<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.provider.persist.sql.AccountMapper">
	
	<!-- 根据id获取管理员信息 -->
	<select id="selectOneById" resultType="AccountBean">
		SELECT * FROM psp_provider_account
		WHERE aid = #{aid}
	</select>
	
	<!-- 根据手机号获取管理员信息 -->
	<select id="selectOneByPhone" resultType="AccountBean">
		SELECT * FROM psp_provider_account 
		WHERE phoneNum = #{phoneNum}
	</select>

	<update id="updateLoginTime">
		UPDATE psp_provider_account
		<set>
			lastLoginTime = now()
		</set> 
		WHERE
			aid = #{aid};
	</update>
	
	<update id="updatePwd">
		UPDATE psp_provider_account
		<set>
			password = #{password}
		</set> 
		WHERE
			aid = #{aid};
	</update>
	
	<update id="updateName">
		UPDATE psp_provider_account
		<set>
			username = #{username}
		</set> 
		WHERE
			aid = #{aid};
	</update>
	
	
	<!-- 查询服务商账号总数 -->
	<select id="selectAccountCount" resultType="int">
		SELECT
			count(*)
		FROM
			psp_provider_account
		<where>
			pid = #{pid} and status != 1
		</where>
	</select>
	
	<!-- 查询服务商账号 -->
	<select id="selectAccounts" resultType="AccountBean">
		SELECT
			*
		FROM
			psp_provider_account
		<where>
			pid = #{pid} and status != 1
		</where>
		order by status, createTime DESC
		LIMIT #{start},#{length}
	</select>
	
	<!-- 插入服务商账号 -->
	<insert id="insertAccount">
		INSERT INTO psp_provider_account
		(aid, username, phoneNum, password, type,
			 pid, status, createTime, lastLoginTime)
		VALUES
		(#{aid}, #{username}, #{phoneNum}, #{password}, #{type},
			 #{pid}, #{status}, now(), now());
	</insert>
	
	<!-- 更新服务商账号 -->
	<update id="updateAccount">
		UPDATE psp_provider_account
		<set>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set> 
		WHERE
			aid = #{aid};
	</update>
</mapper>