<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.sellcenter.persist.sql.OrderMapper">
	
	<!-- 根据分配状态获取管理的工单总数 -->
	<select id="selectOrderCount" resultType="int">
		SELECT count(*) 
		FROM psp_order
		<where>
			sid = #{sid}
			<!-- 筛选 -->
			<if test="filteType != 0">
				and status = #{filteType}
			</if>
			<if test="stage != 0"><!-- 待处理 1 已完成 小于0 已关闭 -->
				and status > 1
			</if>
			<!-- 关键字搜索 1描述 2标签 -->
			<if test="stype == 1">
				AND (content like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (label like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 用户详情下-->
			<if test="uid != null">
				and uid = #{uid}
			</if>
		</where> 
	</select>
	
	
	<resultMap type="OrderBean" id="OrderMap" autoMapping="true">
		<id property="oid" column="oid"/>
		<result property="orderNo"  column="orderNo"/>
		<result property="sid"  column="sid"/>
		<result property="uid"  column="uid"/>
		<result property="label"  column="label"/>
		<result property="pid"  column="pid"/>
		<result property="createTime"  column="createTime"/>
		<result property="status"  column="status"/>
		<result property="stage"  column="stage"/>
		<result property="isAllot"  column="isAllot"/>
		<result property="expectedTime"  column="expectedTime"/>
		<result property="completeTime"  column="completeTime"/>
		<result property="isNeedInvoice"  column="isNeedInvoice"/>
		<association property="provider" javaType="ProviderBean">
			<id property="pid" column="ppid"/>
			<result property="name"  column="pname"/>
			<result property="phoneNum"  column="pphoneNum"/>
			<result property="contact"  column="pcontact"/>
		</association> 
	</resultMap>
	
	<!-- 根据搜索条件获取管理的客户 -->
	<select id="selectOrders" resultMap="OrderMap">
		SELECT o.*,p.pid as ppid,p.name as pname, p.phoneNum as pphoneNum, p.contact as ppcontact
		FROM psp_order o 
		left join psp_provider p
		on o.pid = p.pid
		<where>
			o.sid = #{sid}
			<!-- 筛选 -->
			<if test="filteType != 0">
				and o.status = #{filteType}
			</if>
			<if test="stage != 0"><!-- 待处理 1 已完成 小于0 已关闭 -->
				and o.status > 1
			</if>
			<!-- 关键字搜索 1描述 2标签 -->
			<if test="stype == 1">
				AND (o.content like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (o.label like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 用户详情下-->
			<if test="uid != null">
				and o.uid = #{uid}
			</if>
		</where> 
		ORDER BY o.stage, o.updateTime desc, o.createTime desc
		LIMIT #{start},#{length}
	</select>
	
	<!-- 根据阶段搜索数量 -->
	<select id="selectOrderCount2Seller" resultType="int">
		SELECT count(*) 
		FROM psp_order
		<where>
			sid = #{sid}
			<!-- 筛选 -->
			<if test="stage != 0"><!-- 1进行中 2 已完成 3 关闭 -->
				and stage = #{stage}
			</if>
		</where> 
	</select>
	
	<!-- 新增工单 -->
	<insert id="insert">
		INSERT INTO psp_order
		(oid, orderNo, sid, sellerJson, uid, label, content,
		pid, status, stage, createTime, isAllot, updateTime)
		VALUES
		(#{oid}, #{orderNo}, #{sid}, #{sellerJson}, #{uid}, #{label}, #{content},
		#{pid}, #{status}, #{stage}, now(), #{isAllot}, now());
	</insert>
	
	<!-- 根据id获取客户信息 -->
	<select id="selectOrderById" resultType="OrderBean">
		SELECT * FROM psp_order 
		where oid = #{oid}
	</select>
	
	<!-- 更新工单的服务商 -->
	<update id="updateProvider">
		UPDATE psp_order 
		SET 
			pid = #{pid},status = #{status},stage = #{stage}  
		WHERE
			oid = #{oid};
	</update>
	
	<!-- 更新工单的服务商 -->
	<update id="updateStatus">
		UPDATE psp_order 
		<set>
			status = #{status},stage = #{stage} 
			<if test="status == 4">
			,expectedTime = #{expectedTime}
			</if>
		</set>
		WHERE
			oid = #{oid};
	</update>
	
	<!-- 上传合同 -->
	<insert id="insertContract">
		INSERT INTO psp_order_contract
		(oid, contractNo, partyA, partyB, contractUrl, signTime, startTime,
		endTime, createTime, service, money, payment, parymentWay)
		VALUES
		(#{oid}, #{contractNo}, #{partyA}, #{partyB}, #{contractUrl}, #{signTime}, #{startTime},
		#{endTime}, now(), #{service}, #{money}, #{payment}, #{parymentWay});
	</insert>
	
</mapper>