<?xml version="1.0" encoding="UTF-8"?>
<beans>

	<!-- 用户信息 -->
	<bean className="RUserBean" notes="用户信息">
		<attrs>
			<attr type="string" name="uid" notes="用户的uid" demoValue="ad5f9249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="phoneNum" notes="用户手机号" demoValue="18553351967" />
			<attr type="string" name="nickName" notes="用户昵称" demoValue="candy" />
			<attr type="int" name="status" notes="状态1：正常，0：禁用" demoValue="1" />
			<attr type="int" name="type" notes="用户类型 0：正常，1：导入" demoValue="1" />
			<attr type="long" name="regTime" notes="注册时间" demoValue="unix时间戳" />
			
		</attrs>
	</bean>
	
	<!-- 服务分类JSON -->
	<bean className="RCategoryJSONBean" notes="服务分类">
		<attrs>
			<attr type="JSONArray" name="category"
				notes="服务类型:cid 分类的值，name：分类标题，children：子分类，"
				demoValue="[{cid:1,name:'敏捷制造',children:[{cid:1,name:'工商服务'}]}]" />
		</attrs>
	</bean>
	
	<!-- 服务分类 -->
	<bean className="RCategoryBean" notes="服务分类信息">
		<attrs>
			<attr type="int" name="cid" notes="操作id" demoValue="0" />
			<attr type="string" name="name" notes="服务分类名称" demoValue="七星" />
			<attr type="int" name="parentId" notes="父节点" demoValue="1" />
			<attr type="int" name="sort" notes="排序" demoValue="1" />
			<attr type="long" name="createTime" notes="创建时间" demoValue="unix时间戳" />
			<attr type="string" name="adminId" notes="创建管理员" demoValue="七星" />
			<attr type="string" name="adminJson" notes="创建管理员" demoValue="七星" />
		</attrs>
	</bean>
	
</beans>