<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.sellcenter.persist.sql.OrderMapper">
	
	<!-- 根据分配状态获取管理的工单总数 -->
	<select id="selectOrderCount" resultType="int">
		SELECT count(*) 
		FROM psp_order o
		left join psp_user u
		on o.uid = u.uid
		<where>
			u.sid = #{sid}
			<!-- 筛选 -->
			<if test="filteType != 99 and filteType != 10 and filteType != 11">
				and o.status = #{filteType}
			</if>
			<if test="filteType == 10">
				and o.stage = 1
			</if>
			<if test="filteType == 11">
				and o.stage = 3
			</if>
			<if test="stage != 0"><!-- 待处理 1 已完成 小于0 已关闭 -->
				and (o.status = 0 or o.status > 1)
			</if>
			<!-- 关键字搜索 1描述 2标签 -->
			<if test="stype == 1">
				AND (o.content like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (o.label like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 用户详情下-->
			<if test="uid != null">
				and o.uid = #{uid}
			</if>
		</where> 
	</select>
	
	
	<resultMap type="OrderBean" id="OrderMap" autoMapping="true">
		<id property="oid" column="oid"/>
		<result property="orderNo"  column="orderNo"/>
		<result property="sid"  column="sid"/>
		<result property="uid"  column="uid"/>
		<result property="label"  column="label"/>
		<result property="pid"  column="pid"/>
		<result property="createTime"  column="createTime"/>
		<result property="status"  column="status"/>
		<result property="contractStatus"  column="contractStatus"/>
		<result property="stage"  column="stage"/>
		<result property="money"  column="money"/>
		<result property="isAllot"  column="isAllot"/>
		<result property="expectedTime"  column="expectedTime"/>
		<result property="completeTime"  column="completeTime"/>
		<result property="isNeedInvoice"  column="isNeedInvoice"/>
		<result property="dataType"  column="dataType"/>
		<association property="provider" javaType="ProviderBean">
			<id property="pid" column="ppid"/>
			<result property="name"  column="pname"/>
			<result property="phoneNum"  column="pphoneNum"/>
			<result property="contact"  column="pcontact"/>
		</association> 
		<association property="user" javaType="UserBean">
			<id property="uid" column="uuid"/>
			<result property="name"  column="uname"/>
			<result property="phoneNum"  column="uphoneNum"/>
			<result property="companyName"  column="ucompanyName"/>
		</association> 
		<association property="feedback" javaType="OrderFeedbackBean">
			<id property="fid" column="fid"/>
			<result property="averageScore"  column="averageScore"/>
			<result property="content"  column="fcontent"/>
		</association> 
		<collection property="contracts" column="oid" ofType="OrderContractBean" >
			<id property="cid" column="ccid"/>
			<result property="oid"  column="coid"/>
			<result property="name"  column="cname"/>
			<result property="contractNo"  column="contractNo"/>
			<result property="partyA"  column="partyA"/>
			<result property="partyB"  column="partyB"/>
			<result property="contractUrl"  column="contractUrl"/>
			<result property="signTime"  column="signTime"/>
			<result property="startTime"  column="startTime"/>
			<result property="endTime"  column="endTime"/>
			<result property="createTime"  column="createTime"/>
			<result property="service"  column="service"/>
			<result property="money"  column="money"/>
			<result property="payment"  column="payment"/>
			<result property="paymentWay"  column="paymentWay"/>
			<result property="paymentDesc"  column="paymentDesc"/>
			<result property="type"  column="type"/>
		</collection>
	</resultMap>
	
	<!-- 根据搜索条件获取管理的客户 -->
	<select id="selectOrders" resultMap="OrderMap">
		SELECT o.*,
			p.pid as ppid,p.name as pname, p.phoneNum as pphoneNum, p.contact as ppcontact,
			u.uid as uuid, u.name as uname,u.phoneNum as uphoneNum, 
		 u.companyName as ucompanyName
		FROM psp_order o 
		left join psp_provider p
		on o.pid = p.pid
		left join psp_user u
		on o.uid = u.uid
		<where>
			u.sid = #{sid}
			<!-- 筛选 -->
			<if test="filteType != 99 and filteType != 10 and filteType != 11">
				and o.status = #{filteType}
			</if>
			<if test="filteType == 10">
				and o.stage = 1
			</if>
			<if test="filteType == 11">
				and o.stage = 3
			</if>
			<if test="stage != 0"><!-- 待处理 1 已完成 小于0 已关闭 -->
				and (o.status = 0 or o.status > 1)
			</if>
			<!-- 关键字搜索 1描述 2标签 -->
			<if test="stype == 1">
				AND (o.content like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (o.label like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 用户详情下-->
			<if test="uid != null">
				and o.uid = #{uid}
			</if>
		</where> 
		ORDER BY o.stage, o.updateTime desc, o.createTime desc
		LIMIT #{start},#{length}
	</select>
	
	<!-- 根据阶段搜索数量 -->
	<select id="selectOrderCount2Seller" resultType="int">
		SELECT count(*) 
		FROM psp_order o
		left join psp_user u
		on o.uid = u.uid
		<where>
			u.sid = #{sid}
			<!-- 筛选 -->
			<if test="stage != 0"><!-- 1进行中 2 已完成 3 关闭 -->
				and o.stage = #{stage}
			</if>
		</where> 
	</select>
	
	<!-- 新增工单 -->
	<insert id="insert">
		INSERT INTO psp_order
		(oid, orderNo, sid, sellerJson, uid, label, content,
		pid, status, stage, createTime, isAllot, updateTime, contractStatus, dataType)
		VALUES
		(#{oid}, #{orderNo}, #{sid}, #{sellerJson}, #{uid}, #{label}, #{content},
		#{pid}, #{status}, #{stage}, now(), #{isAllot}, now(), #{contractStatus}, #{dataType});
	</insert>
	
	<!-- 根据id获取客户信息 -->
	<select id="selectOrderById" resultMap="OrderMap">
		SELECT o.*,p.pid as ppid,p.name as pname, p.phoneNum as pphoneNum, p.contact as ppcontact,
			c.cid as ccid,c.oid as coid, c.name as cname, c.contractNo, c.partyA, c.partyB, c.contractUrl, 
			c.signTime, c.startTime, c.endTime, c.createTime, c.service, c.money, c.payment, c.paymentWay, c.paymentDesc,
			f.fid, f.content as fcontent, f.averageScore, c.type,
			u.uid as uuid, u.name as uname,u.phoneNum as uphoneNum, u.companyName as ucompanyName
		FROM psp_order o 
		left join psp_provider p
		on o.pid = p.pid
		left join psp_order_contract c
		on o.oid = c.oid
		left join psp_order_feedback f
		on o.oid = f.oid
		left join psp_user u
		on o.uid = u.uid
		where o.oid = #{oid}
	</select>
	
	<!-- 更新工单的服务商 -->
	<update id="updateProvider">
		UPDATE psp_order 
		SET 
			pid = #{pid},status = #{status},stage = #{stage},isAllot=#{isAllot}
		WHERE
			oid = #{oid};
	</update>
	
	<!-- 更新工单的服务商 -->
	<update id="updateStatus">
		UPDATE psp_order 
		<set>
			status = #{status},
			stage = #{stage},
			contractStatus = #{contractStatus},
			<if test="status == 4">
			expectedTime = #{expectedTime},
			money = #{money},
			</if>
			<if test="stage == 2">
			closeTime = now(),
			</if>
		</set>
		WHERE
			oid = #{oid};
	</update>
	
	<!-- 上传合同 -->
	<insert id="insertContract">
		INSERT INTO psp_order_contract
		(oid, name, contractNo, partyA, partyB, contractUrl, signTime, startTime,
		endTime, createTime, service, money, payment, paymentWay, paymentDesc, type)
		VALUES
		(#{oid}, #{name}, #{contractNo}, #{partyA}, #{partyB}, #{contractUrl}, #{signTime}, #{startTime},
		#{endTime}, now(), #{service}, #{money}, #{payment}, #{paymentWay}, #{paymentDesc}, #{type});
	</insert>
	
	<!-- 反馈 -->
	<insert id="insertFeedBack">
		INSERT INTO psp_order_feedback
		(oid, sid, pid, content, averageScore, serviceScore, createTime)
		VALUES
		(#{oid}, #{sid}, #{pid}, #{content}, #{averageScore}, #{serviceScore}, now());
	</insert>
	
	<!-- 根据分配状态获取管理的工单总数 -->
	<select id="selectStageCount2User" resultType="int">
		SELECT count(*) 
		FROM psp_order
		<where>
			uid = #{uid} and stage = #{stage}
		</where> 
	</select>
	
	<!-- 根据合同类型和工单查询合同 -->
	<select id="selectOrderContractInType" resultType="OrderContractBean">
		SELECT *
		FROM psp_order_contract
		<where>
			oid = #{oid} and type = #{type}
		</where> 
	</select>
	
	<update id="updateContract">
		UPDATE psp_order_contract 
		<set>
			oid = #{oid},
			name = #{name}, 
			contractNo = #{contractNo}, 
			partyA = #{partyA}, 
			partyB = #{partyB}, 
			contractUrl = #{contractUrl}, 
			signTime = #{signTime}, 
			startTime = #{startTime},
			endTime = #{endTime}, 
			service = #{service}, 
			money = #{money}, 
			payment = #{payment}, 
			paymentWay = #{paymentWay}, 
			paymentDesc = #{paymentDesc}, 
			type = #{type}
		</set>
		WHERE
			cid = #{cid};
	</update>
	
	
</mapper>