<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.sellcenter.persist.sql.SellerMapper">
	
	<!-- 根据id获取销售信息 -->
	<select id="selectOneById" resultType="SellerBean">
		SELECT * FROM psp_sale_center 
		WHERE sid = #{sid}
	</select>
	
	<!-- 根据手机号获取管理员信息 -->
	<select id="selectOneByPhone" resultType="SellerBean">
		SELECT * FROM psp_sale_center 
		WHERE phoneNum = #{phoneNum}
	</select>

	<update id="updateLoginTime">
		UPDATE psp_sale_center
		<set>
			lastLoginTime = now()
		</set> 
		WHERE
			sid = #{sid};
	</update>
	
	<update id="updatePwd">
		UPDATE psp_sale_center
		<set>
			password = #{password}
		</set> 
		WHERE
			sid = #{sid};
	</update>


	<update id="updateName">
		UPDATE psp_sale_center
		<set>
			username = #{username}
		</set> 
		WHERE
			sid = #{sid};
	</update>

</mapper>