<?xml version="1.0" encoding="UTF-8"?>
<beans>

	<!-- 销售人员信息 -->
	<bean className="RSellerBean" notes="销售信息">
		<attrs>
			<attr type="string" name="sid" notes="销售id" demoValue="ad5f9249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="phoneNum" notes="销售手机号" demoValue="18553351967" />
			<attr type="string" name="letter" notes="名称首字母" demoValue="C" />
			<attr type="string" name="username" notes="销售昵称" demoValue="candy" />
			<attr type="int" name="status" notes="状态1：正常，0：禁用" demoValue="1" />
			<attr type="long" name="lastLoginTime" notes="最后登录时间" demoValue="unix时间戳" />
		</attrs>
	</bean>
	
	<!-- 客户信息 -->
	<bean className="RUserBean" notes="客户基本信息">
		<attrs>
			<attr type="string" name="uid" notes="客户id" demoValue="ad5f9249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="name" notes="姓名" demoValue="candy" />
			<attr type="string" name="phoneNum" notes="手机号" demoValue="18553351967" />
			<attr type="string" name="companyName" notes="公司名称" demoValue="18553351967" />
			<attr type="string" name="position" notes="职位" demoValue="ceo" />
			<attr type="string" name="sid" notes="当前销售" demoValue="be5f9249f77f4f25a1d530f6ce2399af" />
			<attr type="string" name="createrJson" notes="创建人" demoValue="{'name':'钱哲','phoneNum':'15762888888'}" />
			<attr type="string" name="sellerJson" notes="当前销售JSON" demoValue="{'name':'钱哲','phoneNum':'15762888888'}" />
			<attr type="int" name="orderNum" notes="工单数量" demoValue="10" />
			<attr type="long" name="createTime" notes="创建时间" demoValue="unix时间戳" />
			<attr type="string" name="label" notes="客户标签" demoValue="['重要','优质']" />
			<attr type="int" name="origin" notes="状态1：0线上（PC） 1 园区下单 2 线下" demoValue="1" />
			<attr type="int" name="level" notes="客户级别：0尚未定级 1 有效客户 2 无效客户" demoValue="1" />
			<attr type="int" name="isAllot" notes="是否分配：0待分配，1已分配" demoValue="1" />
			<attr type="int" name="status" notes="客户状态，0:全部1:待沟通客户2:已处理客户" demoValue="1" />
			<attr type="string" name="aid" notes="当前分配人" demoValue="1" />
			<attr type="string" name="adminJson" notes="管理人员Json" demoValue="{'name':'杨娜','phoneNum':'188123123123'}" />
			<attr type="long" name="allotTime" notes="分配时间" demoValue="unix时间戳" />
		</attrs>
	</bean>
	
	<!-- 客户信息流信息 -->
	<bean className="RUserNewsBean" notes="客户信息流信息">
		<attrs>
			<attr type="int" name="nid" notes="客户信息id" demoValue="ad5f9249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="label" notes="消息标签" demoValue="['重要','优质']" />
			<attr type="string" name="content" notes="需求描述" demoValue="java开发" />
			<attr type="string" name="uid" notes="用户" demoValue="be5f9249f77f4f25a1d530f6ce2399af" />
			<attr type="string" name="userJson" notes="沟通客户JSON" demoValue="{'name':'崔海东','phoneNum':'15762888888'}" />
			<attr type="int" name="origin" notes="来源：0线上（PC） 1 主动沟通" demoValue="1" />
			<attr type="long" name="createTime" notes="创建时间" demoValue="unix时间戳" />
			<attr type="string" name="sid" notes="当前销售" demoValue="be5f9249f77f4f25a1d530f6ce2399af" />
			<attr type="string" name="sellerJson" notes="当前销售JSON" demoValue="{'name':'钱哲','phoneNum':'15762888888'}" />
			
		</attrs>
	</bean>
	
	<!-- 操作客户信息 -->
	<bean className="RUserLogsBean" notes="操作客户信息">
		<attrs>
			<attr type="int" name="lid" notes="操作id" demoValue="1" />
			<attr type="string" name="uid" notes="用户" demoValue="be5f9249f77f4f25a1d530f6ce2399af" />
			<attr type="string" name="sid" notes="销售id" demoValue="3cfd3249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="sellerJson" notes="销售信息" demoValue="{'销售名称':'钱哲','销售电话':'18553351967'}" />
			<attr type="string" name="content" notes="操作文本" demoValue="【杨娜】分配客户给【崔海东】" />
			<attr type="string" name="aid" notes="管理员" demoValue="abc123249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="adminJson" notes="管理员信息" demoValue="{'管理员名称':'杨娜','管理员电话':'18553351967'}" />
			<attr type="long" name="createTime" notes="创建时间" demoValue="unix时间戳" />
			<attr type="int" name="type" notes="操作类型 0管理员分配 1 新建客户 2 修改客户 3归档客户 4 设置评级 5编辑标签 6开始沟通" demoValue="1" />
		</attrs>
	</bean>
	
	<!-- 工单信息 -->
	<bean className="ROrderBean" notes="工单信息">
		<attrs>
			<attr type="string" name="oid" notes="工单信息id" demoValue="ad5f9249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="orderNo" notes="工单号" demoValue="GD0120171117011230DFGXD1" />
			<attr type="string" name="sid" notes="当前销售id" demoValue="3cfd3249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="uid" notes="客户id" demoValue="3cfd3249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="userJson" notes="客户信息" demoValue="{'客户名称':'崔海东','客户电话':'18553351967'}" />
			<attr type="string" name="label" notes="工单标签" demoValue="['APP','原生开发']" />
			<attr type="string" name="content" notes="工单需求描述" demoValue="java开发" />
			<attr type="string" name="pid" notes="服务商" demoValue="abc123249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="providerJson" notes="服务商信息" demoValue="{'服务商名称':'北京硬创云加','服务商电话':'18553351967'}" />
			<attr type="long" name="createTime" notes="创建时间" demoValue="unix时间戳" />
			<attr type="int" name="status" notes="状态" demoValue="0:待分配 1已完成 2:待处理3:已接受4:合同一上传5:申请完成6:待反馈7拒绝完成8申请终止" />
			<attr type="int" name="contractStatus" notes="合同状态：0等待上传1上传客户合同2上传服务商合同3合同上传完毕" demoValue="1" />
			<attr type="int" name="stage" notes="所处阶段" demoValue="0:待分配 1已完成 2:进行中 3已终止" />
			<attr type="int" name="isAllot" notes="是否被分配" demoValue="1"></attr>
			<attr  type="long" name="expectedTime" notes="预计完成时间" demoValue="unix时间戳" ></attr>
			<attr  type="long" name="completeTime" notes="实际完成时间" demoValue="unix时间戳" ></attr>
			<attr  type="long" name="closeTime" notes="关闭时间" demoValue="unix时间戳" ></attr>
			<attr  type="long" name="updateime" notes="操作更新时间" demoValue="unix时间戳" ></attr>
			<attr  type="long" name="isNeedInvoice" notes="是否需要发票" demoValue="1" ></attr>
			<attr  type="list" objName="ROrderContractBean" name="contracts" notes="合同信息" demoValue="1" ></attr>
			<attr  type="ROrderFeedbackBean" name="feedback" notes="反馈意见" demoValue="1" ></attr>
			
			
		</attrs>
	</bean>
	
	<!-- 合同工单详情 -->
	<bean className="ROrderContractBean" notes="合同工单详情信息">
		<attrs>
			<attr type="int" name="cid" notes="cid" demoValue="1" />
			<attr type="string" name="name" notes="工单名称" demoValue="技术开发合同" />
			<attr type="string" name="oid" notes="工单ID" demoValue="efa252324f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="contractNo" notes="合同编号"  demoValue="HT123123"/>
			<attr type="string" name="contractUrl" notes="合同附件地址" demoValue="http://pic.58pic.com/58pic/14/00/69/66858PICNfJ_1024.jpg" />
			<attr name="signTime" type="long" demoValue="123123123123" notes="合同签订时间"/>
			<attr name="startTime" type="long" demoValue="123123123123" notes="合同开始时间"/>
			<attr name="endTime" type="long" demoValue="123123123123" notes="合同开始时间"/>
			<attr name="partyA" type="string" demoValue="123123123123" notes="合同甲方JSON"/>
			<attr name="partyB" type="string" demoValue="123123123123" notes="合同乙方JSON"/>
			<attr name="money" type="double" demoValue="100" notes="金额"/>
			<attr name="service" type="string" demoValue="服务事项" notes="服务事项"/>
			<attr name="payment" type="int" demoValue="1" notes="付款方式：0一次性 1分期 2其他"/>
			<attr name="paymentWay" type="string" demoValue="[{1,50%},{2,20%},{3,30%}]" notes="分期方案"/>
			<attr name="paymentDesc" type="string" demoValue="付款描述" notes="付款描述"/>
			<attr name="type" type="int" notes="所属类型：1客户合同2服务商合同" demoValue="1" />
		</attrs>
	</bean>
	
	<!-- 合同反馈详情 -->
	<bean className="ROrderFeedbackBean" notes="合同反馈详情信息">
		<attrs>
			<attr type="int" name="fid" notes="fid" demoValue="1" />
			<attr type="string" name="content" notes="反馈内容" demoValue="技术可以" />
			<attr type="double" name="averageScore" notes="平均得分" demoValue="10" />
			<attr type="string" name="suggestion" notes="反馈意见" demoValue="继续努力" />
		</attrs>
	</bean>
	
	<!-- 服务分类及服务商 -->
	<bean className="RServiceProviderBean" notes="服务分类及服务商">
		<attrs>
			<attr type="JSONArray" name="service"
				notes="服务类型:value 分类的值，title：分类标题，sort：排序，subMenus：子分类，"
				demoValue="[{value:1,title:'敏捷制造',sort:0,subService:[{value:1,title:'工商服务',sort:0}]}]" />
		</attrs>
	</bean>
	
	<!-- 操作工单信息 -->
	<bean className="ROrderLogsBean" notes="操作工单信息">
		<attrs>
			<attr type="int" name="lid" notes="操作id" demoValue="1" />
			<attr type="string" name="oid" notes="订单ID" demoValue="be5f9249f77f4f25a1d530f6ce2399af" />
			<attr type="string" name="sid" notes="销售id" demoValue="3cfd3249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="sellerJson" notes="销售信息" demoValue="{'销售名称':'钱哲','销售电话':'18553351967'}" />
			<attr type="string" name="content" notes="操作文本" demoValue="【杨娜】分配客户给【崔海东】" />
			<attr type="string" name="pid" notes="服务商id" demoValue="abc123249f77f4f25a1d530f6ce2399fd" />
			<attr type="string" name="providerJson" notes="服务商JSON" demoValue="{'管理员名称':'杨娜','管理员电话':'18553351967'}" />
			<attr type="long" name="createTime" notes="创建时间" demoValue="unix时间戳" />
			<attr type="int" name="type" notes="操作类型0 创建并分配 1 编辑 2 派单 3 上传合同 4 调查反馈 5 归档" demoValue="1" />
		</attrs>
	</bean>
			<!-- 文件材料信息 -->
	<bean className="RQiniuFileBean" notes="七牛返回的信息">
		<attrs>
			<attr type="string" name="key" notes="key" demoValue="key" />
			<attr type="string" name="url" notes="图片url地址"
				demoValue="http://pic.58pic.com/58pic/14/00/69/66858PICNfJ_1024.jpg" />
			<attr type="int" name="imgH" notes="高度" demoValue="100" />
			<attr type="int" name="imgW" notes="宽度" demoValue="100" />
			<attr type="string" name="format" notes="文件格式" demoValue="jpeg" />
		</attrs>
	</bean>

	<!-- 图片验证码 -->
	<bean className="RImgCodeBean" notes="图片验证码">
		<attrs>
			<attr type="string" name="key" notes="key" demoValue="key" />
			<attr type="string" name="url" notes="图片url地址"
				demoValue="http://pic.58pic.com/58pic/14/00/69/66858PICNfJ_1024.jpg" />
			<attr type="int" name="imgH" notes="高度" demoValue="100" />
			<attr type="int" name="imgW" notes="宽度" demoValue="100" />
			<attr type="string" name="format" notes="文件格式" demoValue="jpeg" />
		</attrs>
	</bean>
	
	<!-- 区域列表bean -->
	<bean className="RAreaListBean" notes="区域列表bean">
		<attrs>
			<attr type="string" name="label" notes="区域名称" demoValue="北京市" />
			<attr type="string" name="value" notes="区域code" demoValue="350424" />
			<attr type="list" name="children" notes="下级区域" objName="RAreaListBean" />
		</attrs>
	</bean>
</beans>