<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.admin.persist.sql.OrderMapper">
	
	<!-- 根据分配状态获取管理的工单总数 -->
	<select id="selectOrderCount" resultType="int">
		SELECT count(*) 
		FROM psp_order o
		left join psp_user u
		on o.uid = u.uid
		left join psp_sale_center s
		on u.sid = s.sid
		<where>           
			<!-- 筛选 -->
			<if test="filteType != 99 and filteType != 10 and filteType != 11">
				and o.status = #{filteType}
			</if>
			<if test="filteType == 10">
				and o.stage = 1
			</if>
			<if test="filteType == 11">
				and o.stage = 3
			</if>
			<if test="stage != 0"><!-- 待处理 1 已完成 小于0 已关闭 -->
				and o.status > 1
			</if>
			<!-- 关键字搜索 1描述 2标签 -->
			<if test="stype == 0 and key != null">
				AND (o.content like CONCAT('%', '${key}' ,'%') or o.label like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 1">
				AND (o.content like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (o.label like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 用户详情下-->
			<if test="uid != null">
				and o.uid = #{uid}
			</if>
			<if test="sid != null">
				and o.sid = #{sid}
			</if>
			<if test="pid != null">
				and o.pid = #{pid}
			</if>
			<if test="parkId != null">
				and s.pid = #{parkId}
			</if>
		</where> 
	</select>
	
	
	<resultMap type="OrderBean" id="OrderMap" autoMapping="true">
		<id property="oid" column="oid"/>
		<result property="orderNo"  column="orderNo"/>
		<result property="sid"  column="sid"/>
		<result property="uid"  column="uid"/>
		<result property="label"  column="label"/>
		<result property="pid"  column="pid"/>
		<result property="createTime"  column="createTime"/>
		<result property="status"  column="status"/>
		<result property="stage"  column="stage"/>
		<result property="type"  column="type"/>
		<result property="isAllot"  column="isAllot"/>
		<result property="expectedTime"  column="expectedTime"/>
		<result property="completeTime"  column="completeTime"/>
		<result property="isNeedInvoice"  column="isNeedInvoice"/>
		<association property="provider" javaType="ProviderBean">
			<id property="pid" column="ppid"/>
			<result property="name"  column="pname"/>
			<result property="phoneNum"  column="pphoneNum"/>
			<result property="contact"  column="pcontact"/>
		</association> 
		<association property="user" javaType="UserBean">
			<id property="uid" column="uuid"/>
			<result property="name"  column="uname"/>
			<result property="phoneNum"  column="uphoneNum"/>
			<result property="companyName"  column="ucompanyName"/>
		</association> 
		<association property="feedback" javaType="OrderFeedbackBean">
			<id property="fid" column="fid"/>
			<result property="averageScore"  column="averageScore"/>
			<result property="content"  column="fcontent"/>
		</association> 
		<collection property="contracts" column="oid" ofType="OrderContractBean" >
			<id property="cid" column="ccid"/>
			<result property="oid"  column="coid"/>
			<result property="name"  column="cname"/>
			<result property="contractNo"  column="contractNo"/>
			<result property="partyA"  column="partyA"/>
			<result property="partyB"  column="partyB"/>
			<result property="contractUrl"  column="contractUrl"/>
			<result property="signTime"  column="signTime"/>
			<result property="startTime"  column="startTime"/>
			<result property="endTime"  column="endTime"/>
			<result property="createTime"  column="createTime"/>
			<result property="service"  column="service"/>
			<result property="money"  column="money"/>
			<result property="payment"  column="payment"/>
			<result property="paymentWay"  column="paymentWay"/>
			<result property="paymentDesc"  column="paymentDesc"/>
		</collection>
		
	</resultMap>
	
	<!-- 根据搜索条件获取管理的客户 -->
	<select id="selectOrders" resultMap="OrderMap">
		SELECT o.*,p.pid as ppid,p.name as pname,
		 p.phoneNum as pphoneNum, p.contact as ppcontact,
		 u.uid as uuid, u.name as uname,u.phoneNum as uphoneNum, 
		 u.companyName as ucompanyName
		FROM psp_order o 
		left join psp_provider p
		on o.pid = p.pid
		left join psp_user u
		on o.uid = u.uid
		left join psp_sale_center s
		on u.sid = s.sid
		<where>
			<!-- 筛选 -->
			<if test="filteType != 99 and filteType != 10 and filteType != 11">
				and o.status = #{filteType}
			</if>
			<if test="filteType == 10">
				and o.stage = 1
			</if>
			<if test="filteType == 11">
				and o.stage = 3
			</if>
			<if test="stage != 0"><!-- 待处理 1 已完成 小于0 已关闭 -->
				and o.status > 1
			</if>
			<!-- 关键字搜索 1描述 2标签 -->
			<if test="stype == 0 and key != null">
				AND (o.content like CONCAT('%', '${key}' ,'%') or o.label like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 1">
				AND (o.content like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (o.label like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 用户详情下-->
			<if test="uid != null">
				and o.uid = #{uid}
			</if>
			<if test="sid != null">
				and o.sid = #{sid}
			</if>
			<if test="pid != null">
				and o.pid = #{pid}
			</if>
			<if test="parkId != null">
				and s.pid = #{parkId}
			</if>
		</where> 
		ORDER BY o.stage, o.updateTime desc, o.createTime desc
		LIMIT #{start},#{length}
	</select>
	
	<!-- 根据id获取客户信息 -->
	<select id="selectOrderById" resultMap="OrderMap">
		SELECT o.*,p.pid as ppid,p.name as pname, p.phoneNum as pphoneNum,
		 p.contact as ppcontact, u.uid as uuid, u.name as uname,
		 u.phoneNum as uphoneNum, u.companyName as ucompanyName,
		 c.cid as ccid,c.oid as coid, c.name as cname, c.contractNo, c.partyA, c.partyB, c.contractUrl, 
		 c.signTime, c.startTime, c.endTime, c.createTime, c.service, c.money, c.payment, c.paymentWay, c.paymentDesc,
		 f.fid, f.content as fcontent, f.averageScore
		FROM psp_order o 
		left join psp_provider p
		on o.pid = p.pid
		left join psp_user u
		on o.uid = u.uid
		left join psp_order_contract c
		on o.oid = c.oid
		left join psp_order_feedback f
		on o.oid = f.oid
		where o.oid = #{oid}
	</select>
	
		<!-- 根据分配状态获取管理的工单总数 -->
	<select id="selectParkOrderCount" resultType="int">
		SELECT count(*) 
		FROM psp_order p
		left join psp_sale_center s 
		on p.sid = s.sid
		<where>
			s.pid = #{pid}
		</where> 
	</select>
	
	<!--  0:待分配 1已完成 2:待处理3:已接受4:合同一上传5:申请完成6:待反馈7拒绝完成8申请终止 -->
	<select id="selectOrderStatusCount" resultType="OrderStatusStatisticsBean">
		SELECT
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 0
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as toAllot,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 2
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as pending,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 3
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as accept,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 4
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as toContract,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 5
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as toApplyCompelete,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 6
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as toFeedback,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 7
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as refuse,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 8
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as toApplyFinished,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status = 1
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as completed,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.status &lt; 0
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as closed
		from dual;
	</select>
	
	<select id="selectOrderStagesCount" resultType="OrderStageStatisticsBean">
		SELECT
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.stage = 1
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as underway,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.stage = 2
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as completed,
			(SELECT count(*) FROM 
				psp_order o
			 left join psp_user u
			 on o.uid = u.uid
			 left join psp_sale_center s
			 on u.sid = s.sid
			 <where>
				o.stage = 3
				<if test="parkId != null">
				and s.pid = #{parkId}
				</if>
			</where>) as closed
		from dual;
	</select>
</mapper>