<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.admin.persist.sql.ProviderMapper">
	<!-- 插入服务商 -->
	<insert id="insert">
		INSERT INTO psp_provider
		(pid, name, address, contact, phoneNum,
			 content, score, createTime, status, aid)
		VALUES
		(#{pid}, #{name}, #{address}, #{contact}, #{phoneNum},
			 #{content}, #{score}, now(), #{status}, #{aid});
	</insert>
	
	<!-- 查询服务商总数 -->
	<select id="selectProviderCount" resultType="int">
		SELECT
			count(*)
		FROM
			psp_provider p
			<if test="cid != 0">
			LEFT JOIN psp_provider_category_relation r
			ON p.pid = r.pid
			</if>
		<where>
			p.status != 1
			<if test="cid != 0">
				and r.cid = #{r.cid}
			</if>
		</where>
	</select>
	
	<!-- 查询服务商 -->
	<select id="selectProviders" resultType="ProviderBean">
		SELECT
			p.*, a.username as admin
		FROM
			psp_provider p
			<if test="cid != 0">
			LEFT JOIN psp_provider_category_relation r
			ON p.pid = r.pid
			</if>
			left join psp_admin a
			on p.aid = a.aid
		<where>
			p.status != 1
			<if test="cid != 0">
				and r.cid = #{r.cid}
			</if>
		</where>
		order by p.status, p.createTime DESC
		LIMIT #{start},#{length}
	</select>
	
	<!-- 根据id 获取服务商详情 -->
	<select id="selectOneById" resultType="ProviderBean">
		SELECT
			p.*, a.username as admin
		FROM
			psp_provider p
		left join psp_admin a
		on p.aid = a.aid
		<where>
			p.pid = #{pid}
		</where>
	</select>
	
	<!-- 根据手机号 获取服务商账号 -->
	<select id="selectAccountByPhone" resultType="AccountBean">
		SELECT
			*
		FROM
			psp_provider_account
		<where>
			phoneNum = #{phoneNum}
			and status != 1
		</where>
	</select>
	
	<!-- 插入服务商账号 -->
	<insert id="insertAccount">
		INSERT INTO psp_provider_account
		(aid, username, phoneNum, password, type,
			 pid, status, createTime, lastLoginTime)
		VALUES
		(#{aid}, #{username}, #{phoneNum}, #{password}, #{type},
			 #{pid}, #{status}, now(), now());
	</insert>
	
	<!-- 查询服务商账号总数 -->
	<select id="selectAccountCount" resultType="int">
		SELECT
			count(*)
		FROM
			psp_provider_account
		<where>
			pid = #{pid} and status != 1
		</where>
	</select>
	
	<!-- 查询服务商账号 -->
	<select id="selectAccounts" resultType="AccountBean">
		SELECT
			*
		FROM
			psp_provider_account
		<where>
			pid = #{pid} and status != 1
		</where>
		order by status, createTime DESC
		LIMIT #{start},#{length}
	</select>
	
	<!-- 根据id 获取服务商账号 -->
	<select id="selectAccountById" resultType="AccountBean">
		SELECT
			*
		FROM
			psp_provider_account
		<where>
			aid = #{aid}
		</where>
	</select>
	
	<!-- 更新服务商账号 -->
	<update id="updateAccount">
		UPDATE psp_provider_account
		<set>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set> 
		WHERE
			aid = #{aid};
	</update>
	
	<!-- 插入服务商服务账号 -->
	<insert id="insertService" parameterType="java.util.List">
        insert into psp_provider_category_relation (pid, cid)
        values
        <foreach collection="pservices" item="item" index="index" separator=",">
            (#{item.pid}, #{item.cid})
        </foreach>
	</insert>
	
	<!-- 更新服务商 -->
	<update id="update">
		UPDATE psp_provider
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="contact != null">
				contact = #{contact},
			</if>
			<if test="phoneNum != null">
				phoneNum = #{phoneNum},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
		</set> 
		WHERE
			pid = #{pid};
	</update>
	<delete id="delHisService">
		delete from psp_provider_category_relation
        where pid = #{pid} 
	</delete>
	
	<delete id="delService">
		delete from psp_provider_category_relation
        where pid = #{pid} and cid = #{cid}
	</delete>
	
	<!-- 插入服务商服务账号 -->
	<insert id="addService">
        insert into psp_provider_category_relation
         (pid, cid)
        values  (#{pid}, #{cid})
	</insert>
	
	<!-- 根据id 获取服务商账号 -->
	<select id="selectServiceByPidCid" resultType="ProviderServiceBean">
		SELECT
			*
		FROM
			psp_provider_category_relation
		<where>
			 pid = #{pid} and cid = #{cid}
		</where>
	</select>
	
	<!-- 更新服务商状态 -->
	<update id="updateStatus">
		UPDATE psp_provider
		<set>
			status = #{status}
		</set> 
		WHERE
			pid = #{pid};
	</update>
	
	
</mapper>