<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.admin.persist.sql.SellerMapper">
	
	<!-- 根据id获取销售信息 -->
	<select id="selectOneById" resultType="SellerBean">
		SELECT * FROM psp_sale_center 
		WHERE sid = #{sid}
	</select>
	
	<resultMap type="SellerBean" id="SellerMap" autoMapping="true">
		<id property="sid" column="sid"/>
		<result property="phoneNum"  column="phoneNum"/>
		<result property="username"  column="username"/>
		<result property="createTime"  column="createTime"/>
		<result property="status"  column="status"/>
		<result property="pid"  column="pid"/>
		<result property="type"  column="type"/>
		<result property="lastLoginTime"  column="lastLoginTime"/>
		<result property="parkName"  column="parkName"/>
	</resultMap>
	
	<!-- 根据手机号获取销售信息 -->
	<select id="selectOneByPhone" resultMap="SellerMap">
		SELECT s.*,p.name as parkName FROM psp_sale_center s
		left join psp_park p
		on s.pid = p.pid
		WHERE phoneNum = #{phoneNum}
	</select>
	
	<!-- 查询销售总数 -->
	<select id="selectSellerCount" resultType="int">
		SELECT
			count(*)
		FROM
			psp_sale_center 
		<where>
			<if test="key != null">
				username like CONCAT('%', '${key}' ,'%')
			</if>
			<if test="pid != null">
				and pid = #{pid}
			</if>
		</where>
	</select>
	
	<!-- 查询销售列表 -->
	<select id="selectSellers" resultMap="SellerMap">
		SELECT s.*,p.name as parkName FROM psp_sale_center s
		left join psp_park p
		on s.pid = p.pid
		<where>
			<if test="key != null">
				s.username like CONCAT('%', '${key}' ,'%')
			</if>
			<if test="pid != null">
				and s.pid = #{pid}
			</if>
		</where>
		order by s.createTime DESC
		LIMIT #{start},#{length}
	</select>
	
	<!-- 插入销售-->
	<insert id="insert">
		INSERT INTO psp_sale_center
		(sid, username, phoneNum, password,
			 status, pid, type, createTime, lastLoginTime)
		VALUES
		(#{sid}, #{username}, #{phoneNum}, #{password},
			 #{status}, #{pid}, #{type} now(), now());
	</insert>
	
	<!-- 更新销售 -->
	<update id="update">
		UPDATE psp_sale_center
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="phoneNum != null">
				phoneNum = #{phoneNum},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="pid != null">
				pid = #{pid},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
		</set> 
		WHERE
			sid = #{sid};
	</update>
	
	
</mapper>