<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.admin.persist.sql.SellerMapper">
	
	<!-- 根据id获取销售信息 -->
	<select id="selectOneById" resultType="SellerBean">
		SELECT * FROM psp_sale_center 
		WHERE sid = #{sid}
	</select>

</mapper>