<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.admin.persist.sql.UserMapper">

	<!-- 根据id获取客户信息 -->
	<select id="selectUserById" resultMap="UserMap">
		SELECT u.*, s.username as susername, s.phoneNum as sphoneNum
		FROM psp_user u
		left join
		psp_sale_center s
		on u.sid = s.sid
		where u.uid = #{uid}
	</select>
	
		
	<resultMap type="UserBean" id="UserMap" autoMapping="true">
		<id property="oid" column="oid"/>
		<association property="seller" javaType="SellerBean">
			<id property="sid" column="sid"/>
			<result property="username"  column="susername"/>
			<result property="phoneNum"  column="sphoneNum"/>
		</association> 
	</resultMap>

	<!-- 根据分配状态获取客户总数 -->
	<select id="selectUserCount" resultType="int">
		SELECT count(*) 
		FROM psp_user u
		left join psp_sale_center s
		on u.sid = s.sid 
		<where>
			<!-- 筛选 -->
			<if test="filteType != 0">
				and u.level = #{filteType}
			</if>
			<!-- 关键字搜索 -->
			<if test="stype == 0 and key != null">
				AND (u.name like CONCAT('%', '${key}' ,'%') or u.phoneNum like CONCAT('%', '${key}' ,'%') or u.companyName like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 1">
				AND (u.name like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (u.phoneNum like CONCAT('%', '${key}' ,'%')) 
			</if>
			<if test="stype == 3">
				AND (u.companyName like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 分配状态 -->
			<if test="isALlot == 1">
				and u.isALlot = 1
			</if>
			<if test="isALlot == 2">
				and u.isALlot = 0
			</if>
			<if test="sid != null">
				and u.sid = #{sid}
			</if>
			<if test="parkId != null">
				and s.pid = #{parkId}
			</if>
		</where> 
	</select>
	
	<!-- 根据搜索条件获取客户 -->
	<select id="selectUsers" resultMap="UserMap">
		SELECT u.*, s.username as susername, s.phoneNum as sphoneNum
		FROM psp_user u
		left join
		psp_sale_center s
		on u.sid = s.sid
		<where>
			<!-- 筛选 -->
			<if test="filteType != 0">
				and u.level = #{filteType}
			</if>
			<!-- 关键字搜索 -->
			<if test="stype == 0 and key != null">
				AND (u.name like CONCAT('%', '${key}' ,'%') or u.phoneNum like CONCAT('%', '${key}' ,'%') or u.companyName like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 1">
				AND (u.name like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (u.phoneNum like CONCAT('%', '${key}' ,'%')) 
			</if>
			<if test="stype == 3">
				AND (u.companyName like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 分配状态 -->
			<if test="isALlot == 1">
				and u.isALlot = 1
			</if>
			<if test="isALlot == 2">
				and u.isALlot = 0
			</if>
			<if test="sid != null">
				and u.sid = #{sid}
			</if>
			<if test="parkId != null">
				and s.pid = #{parkId}
			</if>
		</where> 
		ORDER BY u.isAllot, u.createTime desc
		LIMIT #{start},#{length}
	</select>
	
	<!-- 分配客户给销售 -->
	<update id="allotUser">
		UPDATE psp_user 
		SET 
			sid = #{sid},
			isAllot = 1,
			aid = #{aid},
			adminJson = #{adminJson},
			allotTime = now(),
			status = 0
		WHERE
			uid = #{uid};
	</update>
	
	<!-- 查询园区客户数量 -->
	<select id="selectParkUserCount" resultType="int">
		SELECT count(*) 
		FROM psp_user u
		left join psp_sale_center s
		on u.sid = s.sid
		<where>
			s.pid = #{pid}
		</where> 
	</select>
	
	<select id="selectLevelCount" resultType="UserLevelStatisticsBean">
		SELECT
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.level = 1
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as valid,
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.level = 2
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as unvalid,
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.level = 3
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as unrated
		from dual;
	</select>
	
	<select id="selectStatusCount" resultType="UserStatusStatisticsBean">
		SELECT
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.isAllot = 1
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as communicate,
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.isAllot = 0
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as uncommunicate
		from dual;
	</select>
	
	<select id="selectOnlineCount" resultType="UserOnlineStatisticsBean">
		SELECT
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.origin = 0
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as online,
			(SELECT count(*) 
				FROM psp_user u
				left join psp_sale_center s
				on u.sid = s.sid
				<where>
					u.origin = 2
					<if test="parkId != null">
					and s.pid = #{parkId}
					</if>
				</where>
			) as offline
		from dual;
	</select>
	
</mapper>