<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psp.admin.persist.sql.UserMapper">

	<!-- 根据id获取客户信息 -->
	<select id="selectUserById" resultType="UserBean">
		SELECT * FROM psp_user 
		where uid = #{uid}
	</select>

	<!-- 根据分配状态获取客户总数 -->
	<select id="selectUserCount" resultType="int">
		SELECT count(*) 
		FROM psp_user
		<where>
			<!-- 筛选 -->
			<if test="filteType != 0">
				and level = #{filteType}
			</if>
			<!-- 关键字搜索 -->
			<if test="stype == 1">
				AND (name like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (phoneNum like CONCAT('%', '${key}' ,'%')) 
			</if>
			<if test="stype == 3">
				AND (companyName like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 分配状态 -->
			<if test="isALlot != -1">
				and isALlot = #{isALlot}
			</if>
		</where> 
	</select>
	
	<!-- 根据搜索条件获取客户 -->
	<select id="selectUsers" resultType="UserBean">
		SELECT * FROM psp_user 
		<where>
			<!-- 筛选 -->
			<if test="filteType != 0">
				and level = #{filteType}
			</if>
			<!-- 关键字搜索 -->
			<if test="stype == 1">
				AND (name like CONCAT('%', '${key}' ,'%'))
			</if>
			<if test="stype == 2">
				AND (phoneNum like CONCAT('%', '${key}' ,'%')) 
			</if>
			<if test="stype == 3">
				AND (companyName like CONCAT('%', '${key}' ,'%')) 
			</if>
			<!-- 分配状态 -->
			<if test="isALlot != -1">
				and isALlot = #{isALlot}
			</if>
		</where> 
		ORDER BY isAllot, createTime desc
		LIMIT #{start},#{length}
	</select>
	
	<!-- 分配客户给销售 -->
	<update id="allotUser">
		UPDATE psp_user 
		SET 
			sid = #{sid},
			sellerJson = #{sellerJson},
			isAllot = 1,
			aid = #{aid},
			adminJson = #{adminJson},
			allotTime = now(),
			status = 0
		WHERE
			uid = #{uid};
	</update>
	
</mapper>